
  <div class="container">
        <p id="notice"></p>

  <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
    <%= render 'layouts/errors_messages', model: f.object %>
    <div class="field">
        <%= f.label :Name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
        <%= f.label :Image %>
        <%= f.attachment_field :profile_image %>
    </div>
    <div class="field">
        <%= f.label :Introduction %>
        <%= f.text_area :introduction %>
    </div>
    <div class="action">
      <%= f.submit %>
    </div>
    <% end %>
  </div>



    
 
