
  <div class="container">
    <p id="notice"></p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        	<h1>Editing Book</h1>
        <!-- <div class='col-md-3 col-md-offset-3'>
        </div> -->
        	 <%= form_with model:@book, local:true do |f| %>
        	 <%= render 'layouts/error_messages', model: f.object %>
            <div class="field row">
              <%= f.label :Title %>
              <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control"%>
            </div>
             <div class="field row">
              <%= f.label :Opinion %>
              <%= f.text_field :body, autofocus: true, autocomplete: "opinion", class: "form-control" %>
            </div>
        
         
          <div class="action row">
            <%= f.submit "Update Book", class:"btn btn-primary col-xs-12" %>
          </div>
          <% end %>
          <%= link_to "Show", book_path(@book) %> |
        	<%= link_to "Back", books_path %>
        </div>
      <div class="col-md-3"></div>
      </div>
  </div>
