<header class="navbar navbar-fixed-top navbar-inverse mb-5">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h3 class="text-white">Bookers</h3>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">　
          <% if user_signed_in? %>
            <li><a class="glyphicon glyphicon-home home" href="<%= user_path(current_user.id) %>"> Home</a></li>
            <li><a class="glyphicon glyphicon-user users" href="<%= users_path %>"> Users</a></li>
            <li><a class="glyphicon glyphicon-book books" href="<%= books_path %>"> Books</a></li>
            <li>
                <a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">Logout</a>
            </li>         
          <% else %>
            <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
            <li><a class="glyphicon glyphicon-link about" href="<%= home_about_path %>"> About</a></li>
            <li><a class="glyphicon glyphicon-edit sign_up" href="<%=  new_user_registration_path %>"> sign up</a></li>
            <li><a class="glyphicon glyphicon-log-in sign_in" href="<%= new_user_session_path %>"> login</a></li> 
          <% end %>
      </ul>
    </nav>
  </div>
</header>
