<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="body">
      <div class="container">
    <% if flash.notice.present? %>
      <p class="alert mt-5"><%= flash.notice %></div>
    <% end %>
    <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
